/* your code */
table{
	border-collapse:collapse;
	border:2px solid white;
	border-radius:15px;
	width:600px



	
}
thead{
	color:white;
	background-color:#003049;
	text-align: centre;
}
th{
	padding:10px	
}
#row2{
	background-color:#FF9B85;
	
}
#row4{
	background-color: #FF9B85;
	
}
td{
	text-align:center;
}
